{% extends 'base.html.twig' %}

{% block body %}

<article>
        <h2>titre de l'article</h2>
        <div class="metadata">Ecrit le 14/09/2019 à 19:00</div>
        <div class="content">
            <img src="http://placehold.it/350x200" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit culpa, illo est possimus deleniti dolorum.</p>
            <p>Voluptatibus ducimus modi fuga consequuntur dolores, delectus repellat odit, quos exercitationem saepe a minima voluptate?</p>
            
            <hr>            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi neque exercitationem fuga fugit alias quod quibusdam, voluptatibus nesciunt non vitae nobis. Alias, nulla ipsum architecto suscipit tempora sit expedita minus similique optio doloremque aliquid recusandae facilis, modi dolorem maxime aut iusto perferendis officia ipsa autem quaerat. Veritatis veniam maxime odit? Hic odit libero reiciendis nihil accusantium eius quisquam fuga ea doloribus debitis! Eligendi magnam reiciendis voluptates quidem error accusamus, beatae rem officiis, quia sapiente temporibus illo in dignissimos autem ex dolor? Non quaerat earum voluptatibus culpa distinctio quia. Nemo nulla repellendus iste tempore, veritatis sit corrupti pariatur aliquid ut molestias.</p>
            <p>Dolore repudiandae sequi omnis eum? Accusantium ducimus fugit a maiores ullam totam quis neque illum molestias consequatur, nam laudantium id rerum accusamus eos? Magnam, quo facere veniam dolores provident nostrum excepturi delectus molestias sit porro aperiam? Aliquam, aut! Hic dicta error quidem a expedita dolor odit, atque recusandae? Harum, officiis. Reprehenderit eaque qui excepturi fuga architecto perferendis facilis deserunt, corporis veritatis fugiat dolorem maxime quo ipsa sunt autem sequi quidem iusto, repellat cum porro harum tempora dolore. Qui aspernatur ad earum esse quaerat excepturi alias suscipit tenetur eius! Ullam modi, architecto aliquid doloribus optio repudiandae obcaecati error soluta cum totam?</p>
        </div>
</article>

{% endblock %}

